html, body{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

img{
	border: none;
}

.clearfix{
	clear: both;
}

.box-center{
	width: 960px;
	margin: 0px auto;
}

/*Header*/
#header{
	background: #fd4b7b;
	min-height: 50px;
}

.logo{
	float: left;
}

.main-menu{
	padding-top: 10px;
	float: right;
}

.menu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
}

.menu ul li{
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	font-size: 14px;

}

.menu ul li a{
	display: block;
	padding: 0px 19px;
	text-transform: uppercase;
	color: #fefffd;
	text-decoration: none;
	line-height: 40px;
	font-weight: bold;
}

.menu ul li:hover a, .menu ul li a:hover{
	color: #ccc;
}

.btn-toggle{
	display: none;
}

.bag{
	float: right;
	margin-top: 5px;
}
/* disclaimer-copyright */
.main-content{
	width: 71.25%;
	float: left;
	box-sizing: border-box;
}
.disclaimer-copyright{

}
.disclaimer-copyright h1.title{
	margin-bottom: 70px;
}
h1.title{
	font-size: 34px;
	color: #fd4b7a;
	font-family: 'sfu_grenoblemedium';
	font-weight: normal;
	text-align: center;
	margin: 40px 0px 30px;
}
.disclaimer h5, .copy-right h5{
	color: #fd4b7a;
	font-size: 17px;
	font-weight: normal;
	margin: 0 0 20px;
}
.disclaimer p, .copy-right p{
	color: #777777;
	font-size: 17px;
	line-height: 20px;
	margin: 0 0 20px;
	text-align: justify;
}
.disclaimer p a, .copy-right p a{
	font-size: 17px;
	text-decoration: none;
	color: #0000ee;
}
/* HASHOP */
.hashop{

}
.hashop h1.title{
	margin-bottom: 20px;
}
.intro-hashop{
	background-color: #fd4b7a;
	position: relative;
	text-align: center;
	padding: 20px 0px;
	border-radius: 30px;
}
.intro-hashop img{
	position: absolute;
	top: 100%;
	left: 46%;
	width: 9%;
}
.intro-hashop p{
	margin: 0;
	color: #fff;
	font-size: 19px;
}
.intro-hashop p.intro2{
	margin: 15px 110px 0px;
	font-weight: 600;
}
.products{
	margin-top: 90px;
}
.products ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.products ul li{
	padding: 10px 8px;
	border: 2px dashed #fd4b7a;
	margin-bottom: 50px;
}
.product{
	width: 75.5%;
	float: left;
	padding: 10px 0px 5px;
	border-right: 2px dashed #fd4b7a;
}
.product img{
	float: left;
	margin-right: 15px;
	max-width: 45.5%;
}
.product-intro{
	float: left;
	max-width: 51.3%;
}
.product-intro p.color1{
	font-size: 17px;
	margin: 0px 0px 25px;
}
.product-intro p span{
	font-weight: 700;
}
a.show-detail-prod{
	float: right;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	font-style: normal;
	background-color: #26c648;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 60px;
	padding: 0 23px;
	margin-top: 47px;
	border-radius: 5px;
}
/* Sharebox, feelingbox */
.extra-title .extra-ct{
	width: 99.999%;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
}
.extra-title span.empty{
	height: 170px;
	line-height: 170px;
	width: 0.001%;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
}
.extra-title p.noted1{
	font-size: 17px;
	color: #fd4b7a;
	text-align: center;
	padding: 0 45px;
	margin: 0px;
}
.feelingbox p.noted1{
	font-weight: 600;
}
.extra-title p.noted1 span, .form-share p span{
	text-transform: uppercase;
}
.sharebox p.noted2,.sharebox p.noted2 a{
	font-size: 17px;
	color: #26c648;
	font-style: italic;
	margin: 25px 0px 0px;
	text-decoration: none;
}
.extra-title{
border-bottom: 2px dashed #fd4b7a;
}
.feelingbox .form-share{
	margin-top: 25px;
}
.form-share{
	margin-top: 60px;
	border: 1px solid #eeeded;
	padding: 30px 36px 50px;
}
.feelingbox .form-share{
	padding-top: 75px;
}
.form-share p.first-p{
	font-size: 17px;
	color: #fd4b7a;
	text-align: center;
	margin: 0px 0px 50px;
	font-weight: normal;
}
.form-share p{
	font-size: 17px; 
	color: #777777;
	margin: 35px 0 25px;
	font-weight: 600;
}
.form-share textarea{
	width: 100%;
	border: 1px solid #bbb4b4;
	resize: none;
	font-size: 17px;
	color: #a5a5a5;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 3px;
}
.form-share textarea[name="size1"]{
	height: 60px;
}
.form-share textarea[name="size2"]{
	height: 260px;
}
.form-share textarea[name="size3"]{
	height: 100px;
}
.form-share textarea[name="size4"]{
	height: 130px;
}
.form-share textarea[name="size5"]{
	height: 86px;
}
.form-share .post-btn{
	text-align: center;
	margin-top: 50px;
}
.form-share input[type="button"]{
	font-size: 25px;
	padding: 0 41px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
	background-color: #26c648;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
span.important-id{
	color: #fd4b7a;
	margin-right: 5px;
}
/* PAYPAGE */
.color1{
	color: #fd4b7a;
}
.color2{
	color: #777777;
}
.color3{
	color: #26c648;
}
.color4{
	color: #a5a5a5;
}
.bold-text{
	font-weight: 700;
}
.semibolder{
	font-weight: 600;
}
.paypage{
	padding-top: 80px;
}
.paypage > p{
	text-align: justify;
}
.paypage > h3.color1{
	font-size: 22px;
	font-weight: normal;
	text-align: center;
}
.paypage .form-share{
	padding: 35px 75px 30px 80px;
}
.form-detail{
	margin-bottom: 20px;
}
.form-share .form-detail p{
	line-height: 45px;
	margin: 0;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.form-detail select{
	padding-left: 10px;
	height: 45px;
	width: 58.5%;
}
.form-detail input, .form-detail select, .form-detail textarea{
	float: right;
}
.form-detail input{
	height: 45px;
	width: 58%;
}
.form-detail input[type="number"],.form-detail select{
	background-color: #f7f7f7;
	border: 1px solid #bbb4b4;
}
.paypage .form-share > p{
	margin-top: 0;
}
.paypage .form-share textarea{
	margin-bottom: 20px;
}
.paypage .form-share p span.normal-text{
	text-transform: none;
	font-weight: normal;
}
.paypage .form-share .post-btn{
	margin-top: 0;
}
p.notice{
	border: 2px dashed #fd4b7a;
	padding: 25px;
	text-align: center;
	color: #fd4b7a;
	font-size: 19px;
	font-weight: 700;
	margin: 55px 0px 30px;
}
.contact-mistake > p{
	font-size: 19px;
	text-align: center;
}
.contact-mistake ul{
	color: #777777;
	margin: 0;
	padding: 0px 0px 0px 120px;
}
.contact-mistake ul li p{
	font-size: 19px;
	text-align: left;
}
.paypage p.color3{
	font-size: 22px;
}
.paypage > p.color1{
	font-size: 20px;
	margin: 0 0 25px;
}
ul.list-bank-account{
	margin: 0;
	padding: 0 0 10px;
	list-style-type: decimal;
	list-style-position: inside;
	font-size: 0px;
	border-bottom: 2px dashed #fd4b7a;
}
ul.list-bank-account li{
	font-size: 19px;
}
ul.list-bank-account li p.color2{
	margin: 20px 0;
}
ul.list-bank-account li span{
	text-transform: uppercase;
}
.guide-transfer{
	padding: 30px 0 60px;
	font-size: 20px;
}
.guide-transfer h3.color1{
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 40px;
	font-weight: 600;
}
.guide-transfer p.color2{
	text-align: justify;
	margin: 0 0 25px;
}
.guide-transfer ul{
	margin: 0 0 0 15px;
	padding: 0;
	list-style-position: inside;
	font-size: 0;
}
.guide-transfer ul li{
	margin-bottom: 25px;
	font-size: 12px;
}
.guide-transfer ul li a{
	text-decoration: none;
	font-size: 20px;
}
p.i-note{
	font-style: italic;
	margin: 0;
}

/* order-detail */
.order-detail{
	font-size: 17px;
}
.order-product{
	margin-top: 70px;
	padding: 30px 10px;
	border: 2px dashed #fd4b7a;
}
.order-product img{
	float: left;
	margin-right: 25px;
}
.order-product p{
	font-size: 17px;
}
.product-intro{
	font-size: 17px;
	line-height: 17px;
}
.product-intro p.title-prod{
	font-size: 19px;
	margin: 0 0 30px;
	line-height: 19px;
}
.product-intro p.color4{
	margin: 0 0 20px;
}
.product-intro p.color4 span.color1{
	font-size: 25px;
	font-weight: 700;
}
.order-product .product-intro p.color4 span.color4{
	font-weight: 600;
}
.product-intro input[type="number"]{
	width: 90px;
	line-height: 30px;
	border: 1px solid #e2e1e1;
}
.order-product .product-intro a.show-detail-prod{
	float: none;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-top: 34px;
	line-height: 50px;
	padding: 0px 21px;
}
.order-product > p.color1{
	text-align: justify;
	font-size: 17px;
}
.order-content{
	margin-top: 60px;
	font-size: 17px;
}
.order-content a{
	text-decoration: none;
}
.order-content h3{
	font-size: 19px;
	font-family: 'sfu_grenoblemedium';
	font-weight: normal;
	margin: 0 0 18px;
}
.order-content p{
	margin: 0 0 20px;
}
.order-content p.color2{
	text-align: justify;
	line-height: 19px;
}
.order-content p.top-order-ct{
	margin-bottom: 50px;
}
.order-content p.top-order-ct2{
	margin-bottom: 37px;
	font-style: italic;
	font-weight: 300;
}
.order-content h4{
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 25px;
}
img.img-right{
	float: right;
	margin-left: 15px;
}
.order-content p img.img-left{
	float: left;
	margin-right: 15px;
}
.order-content p.color2 i{
	font-weight: 300;
}
.about-product{
	margin-top: 50px;
}
.about-product h3{
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	margin: 0;
}
.about-product h3 span{
	text-transform: uppercase;
}
.notice-prod{
	padding: 0 40px;
	text-align: center;
}
.notice-prod p{
	font-size: 17px;
	margin: 17px 0 0;
}
.notice-prod a.show-detail-prod{
	float: none;
	padding: 0 45px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-top: 30px;
	font-weight: 600;
}
.product-daudua{
	margin-top: 22px;
	background-color: #fd4b7a;
	padding: 22px 40px 34px;
	text-align: justify;
}
.product-daudua p{
	color: #fff;
	font-size: 17px;
	margin: 0 0 20px;
}
ul.commit-ct{
	margin: 0;
	padding: 25px 8px 25px 10px;
	border: 1px solid #e2e1e1;
	color: #fd4b7a;
	list-style-position: inside;
	font-size: 0px;
}
ul.commit-ct li{
	margin-bottom: 25px;
	font-size: 17px;
	text-align: justify;
}
ul.commit-ct li span.uppercase-text{
	text-transform: uppercase;
}
.order-detail p.question{
	font-size: 19px;
	margin: 60px 0 25px;
}
.order-detail > p{
	text-align: justify;
}
.img-order{
	text-align: center;
}
ul.profit{
	margin: 60px 0;
	padding: 50px 8px 70px;
	list-style-position: inside;
	border: 2px dashed #fd4b7a;
	color: #fd4b7a;
	font-size: 0;
}
ul.profit li{
	font-size: 10px;
}
ul.profit li span{
	font-size: 17px;
}

p.feedback-p{
	font-size: 20px;
	margin: 0 0 33px;
}
.feedback .img-order{
	border: 1px solid #e2e1e1;
	margin-bottom: 30px;
}
.feedback .img-order img{
	margin: 5px 0;
}
.hide-ct{
	display: none;
}
.show-more{
	position: relative;
	border-bottom: 1px solid #e2e1e1;
	text-align: right;
	padding-right: 55px;
}
.show-more a{
	text-decoration: none;
	font-size: 19px;
}
.show-more img.show-arrow{
	position: absolute;
	right: 0;
	top: 0;
}
.rule-transfer{
	font-size: 17px;
	margin-top: 80px;
}
.rule-transfer p{
	margin: 0 0 25px;
}
.rule-trans2{
	margin-top: 40px;
	border-bottom: 2px dashed #fd4b7a;
}
.tab-detail{
	margin-top: 20px;
}
.tab-detail table{
	width: 100%;
	border: 1px solid #d6d3d3;
	border-spacing: 0;
}
table th{
	text-align: center;
}
table td{
	text-align: justify;
	padding: 0 12px;
}
table th.col1{
	width: 408px;
}
table th.col2{
	width: 252px;
}
table th, table tr, table td{
	border: 1px solid #d6d3d3;
}
table tr{
	border-bottom: 1px solid #d6d3d3;
}
table th:first-child{
	border: none;
}
.how-trans{
	padding-top: 18px;
	margin-top: 25px;
	border-top: 2px dashed #fd4b7a;
}
.how-trans p.trans-p{
	margin: 0 0 20px;
}
.order-detail p.notice{
	text-align: center;
}

/* ANSWER */

.answer{
	font-size: 17px;
}
.answer > p.color2{
	text-align: justify;
}
.answer p.question{
	margin-top: 0;
}
.tabs{
	margin-top: 70px;
}
.answer .tabs ul.tab-title{
	margin: 0 0 38px;
	padding: 20px 0 10px;
	list-style: none;
	font-size: 0;
	border-top: 1px solid #e4e3e3;
	border-bottom: 1px solid #e4e3e3;
}
.answer .tabs ul.tab-title li{
	width: 24.5%;
	margin-right: 0.66%;
	display: inline-block;
	zoom: 1;
	*display: inline;
	text-align: center;
	font-size: 17px;
	line-height: 35px;
}
.answer .tabs ul li:last-child{
	margin-right: 0;
}
.answer .tabs ul li a{
	background-color: #f0eded;
	text-decoration: none;
	color: #fd4b7a;
	display: block;
}
.answer .tabs ul li.active a{
	background-color: #fd4b7a;
	color: #fff;
}
.answer > p.color1{
	margin-bottom: 25px;
}
/* ASIDE */
.sidebar{
	float: right;
	margin-top: 15px;
	width: 28.75%;
	padding-bottom: 30px;
}
.sidebar ul.tabs-sidebar{
	margin: 150px 0 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.sidebar ul.tabs-sidebar li{
	max-width: 160px;
	height: 45px;
	line-height: 45px;
	background-color: #26c648;
	margin-bottom: 15px;
}
.sidebar ul.tabs-sidebar li.active{
	background-color: #fd4b7a;
}
.sidebar ul.tabs-sidebar li a{
	font-size: 19px;
	font-weight: 700;
	color: #fff;
	display: block;
	text-decoration: none;
	text-align: center;
} 
.a-search{
	position: relative;
	margin-bottom: 17px;
}
.a-search input[type="text"]{
	color: #3e3c3b;
	font-size: 15.67px;
	height: 37px;
	line-height: 37px;
	background-color: #efeeee;
	border: 1px solid #d6d3d3;
	width: 100%;
	box-sizing: border-box;
	padding-left: 15px;
}
.a-search input[type="button"]{
	position: absolute;
	background: url(images/icon-search.png) no-repeat center;
	height: 37px;
	line-height: 37px;
	border: none;
	top: 0;
	right: 12px;
	width: 21px;
}
.a-about-us{
	background-color: #26c648;
	padding: 10px 19px;
	margin-bottom: 20px;
}
.a-about-us h3{
	text-align: center;
	color: #fff;
	font-size: 19px;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	margin: 0px 0px 15px;
}
ul.about-us-list{
	margin: 0;
	padding: 0;
	list-style-image: url("images/icon-minus.png");
    list-style-position: inside;
}
ul.about-us-list li a{
	font-size: 17px;
	color: #fff;
	text-decoration: none;
}
ul.about-us-list li:hover a{
	color: #e4e3e3;
}

/* NEWPOST */
.new-post, .impress-post{
	border-bottom: 1px solid #e4e3e3;
}
h3.title-new-post {
	margin: 0px 0px 10px;
}
h3.title-new-post, h3.title-new-post a{
	color: #ff245d;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration:  none;
}
.new-slider ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.new-slider ul li{
	margin-bottom: 16px;
}
img.img-new-post{
	float: left;
	margin-right: 15px;
}
.intro-new p{
	margin: 0;
	line-height: 17px;
}
.intro-new a{
	font-size: 17px;
	color: #777777;
	text-decoration: none;
}

/* IMPRESS POST */

.impress-post{
	margin-top: 33px;
}
/* QUESTION */
.a-question{
	margin-top: 38px;
	padding-bottom: 48px;
	border-bottom: 1px solid #e4e3e3;
}
ol.list-question{
	margin: 0;
	padding: 0;
	color: #fd4b7a;
	font-size: 17px;
	list-style-position: inside;
}
ol.list-question li a{
	color: #fd4b7a;
	text-decoration: none;
	font-size: 17px;
}

/* Aside Product */
.a-product{
	margin-top: 50px;
}
.a-product ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.a-product ul li{
	position: relative;
	margin-bottom: 28px;
}
.a-product ul li img{
	width: 100%;
}
.a-product ul li p{
	position: absolute;
	bottom: 0px;
	font-size: 17px;
	line-height: 37px;
	margin: 0;
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-style: normal;
}
.a-product p.lips-intro{
	background-color: #c84bcc;
	opacity: 0.8;
	color: #fff;
}
.a-product p.oil-intro{
	background-color: #fff;
	opacity: 0.8;
	color: #f10839;
}

/* A-SUPORT */
.a-support{
	margin-top: 45px;
}
.a-support h3{
	background: url(images/icon-suport.png) no-repeat;
	font-size: 19px;
	color: #ff245d;
	line-height: 50px;
	margin: 0;
	padding-left: 60px;
	font-weight: 600;
	font-style: normal;
}
.a-hotline{
	margin-top: 13px;
	margin-bottom: 28px;
}
.a-hotline a{
	vertical-align: bottom;
	margin-right: 8px;
}

.a-hotline span{
	font-size: 17px;
	color: #ff245d;
	vertical-align: bottom;
}

/* A-GUIDE */
.a-guide{
	padding: 11px 30px 27px;
	background-color: #ffda9e;
}
.a-guide h3{
	text-align: center;
	text-transform: uppercase;
}
.a-guide p{
	line-height: 50px;
	background-color: #26c648;
	border-radius: 3px;
	text-align: center;
}
.a-guide p a{
	font-size: 17px;
	color: #fff;
	font-weight: 600;
	font-style: normal;
	text-align: center;
	text-decoration: none;
}

/* FACEBOOK LIKE */
.facebook-like{
	margin-top: 26px;
}
.facebook-like h3{
	font-size: 17px;
	color: #fd4b7a;
	margin: 0px 0px 26px;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
}
/* view-online */
.view-online{
	background: url(images/view-online.png) no-repeat left;
	padding-left: 70px;
}
.view-online p{
	font-size: 17px;
	color: #777;
	margin: 0;
	line-height: 21px;
}

/* BXSLIDER */

.bx-wrapper .bx-viewport{
	box-shadow: none;
}
.bx-wrapper .bx-prev,.bx-wrapper .bx-next{
	display: none;
}
ul.new-slider, ul.impress-slider{
	margin: 0;
	padding: 0;
}
.bx-wrapper .bx-pager{
	padding-top: 10px;
}
.bx-wrapper .bx-pager.bx-default-pager a{
	background-color: #ffd0d2;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
	background-color: #ffadb0;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: -25px;
}
.bx-wrapper .bx-pager{
	padding-top: 30px;
}
.bx-wrapper{
	margin: 0px auto 44px;
}
/*Banner*/
.banner-container{

}

/*More menu*/
.more-menu{
	background: #fd4b7b;
}

/*Footer*/
#footer{
	background: #fd4b7a;
	padding: 25px 0px 0px;
	color: #fff;
	font-size: 17px;
}

#footer .box-center{
	position: relative;
}

a.btn-backtop{
	position: absolute;
	right: 0px;
	top: -25px;
}

.footer-box{
	float: left;
	padding: 0px 10px;
}

.title-footer{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 17px;
	margin: 0px 0px 10px;
	font-style: normal;
}

.description{
	width: 190px;
	margin-right: 70px;
}

.description p{
	text-align: justify;
	font-weight: 300;
}

.policies{
	width: 175px;
	margin-right: 30px;
}

.verifi{
	margin: 10px 0px;
}

.protect{
	padding: 0px 5px;
	margin: 10px 0px;
}

.categories{
	width: 135px;
	margin-right: 10px;
}

#footer p{
	margin: 5px 0px;
	line-height: 20px;
}

.contact{
	width: 225px;
	float: right;
}

.contact a{
	text-decoration: none;
	color: #fff;
}

.contact a:hover{
	opacity: 0.6;
}

.contact b{
	font-weight: 700;
}

/*Coppyright*/
.copyright{
	background: #f84473;
	line-height: 40px;
	border-top: 1px solid #fd527f;
	color: #fed0db;
	margin-top: 10px;
	font-size: 14px;
}

#footer .copyright p{
	float: left;
	margin: 0px;
	line-height: 40px;
}

.made-by{
	float: right;
	width: 300px;
}

.made-by a{
	color: inherit;
	text-decoration: none;
}

.made-by a:hover{
	opacity: 0.6;
}

/*main-content*/
#content{
	margin: 0px 0 60px;
}
.main-content{
	float: left;
	max-width: 660px;
	text-align: left;
}
.title-mc{
	margin: 40px 0;
	color: #fd4b7a;
	font-size: 34px;
	font-weight: bold;
	text-align: center;
}
.top-p{
	color: #ff245d;
	font-size: 17px;
	margin: 0;
}
.infomation-author{
	margin-top: 50px;
	width: 100%;
	position: relative;
}
.infomation-author .img-infomation-author{
	width: 163px;
	float: left;
}
.infomation-author .img-infomation-author img{
	border: 3px solid #fd4b7a;
	border-radius: 50%;
	max-width: 100%;
}

.infomation-author .main-infomation-author{
	float: left;
	position: relative;
	top: 0;
	left: 45px;
	background: #26c648;
	max-width: 450px;
}
.infomation-author .main-infomation-author:after{
	content: "";
	right: 100%;
	top: 50px;
	width: 0px;
	height: 0px;
	border-width: 10px 20px 10px 0;
	border-style: solid;
	border-color: transparent #26c648 transparent transparent;
	position: absolute;
}
.infomation-author .main-infomation-author p{
	color: #ffffff;
	font-size: 17px;
	padding: 20px 45px;
	margin: 0;
	display: inline-block;
	zoom: 1;
	*display: inline;
	font-weight: 300;
	font-style: italic;
	line-height: 22px;
}
.left-author-icon{
	background: url(images/left-author-icon.png) no-repeat;
	width: 35px;
	height: 27px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	position: absolute;
	top: 10px;
	left: 5px;
}
.right-author-icon{
	background: url(images/right-author-icon.png) no-repeat;
	width: 35px;
	height: 27px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 10px;
}

.infomation-beauty{
	margin-bottom: 35px;
	font-size: 17px;
	color: #777777;
	text-align: center;
	margin-top: 50px;
}
.top-infomation-beauty{
	margin-bottom: 40px;
	text-align: left;
}
.top-infomation-beauty .left-infomation-beauty{
	float: left;
	max-width: 430px;
}
.top-infomation-beauty .left-infomation-beauty p{
	margin: 0;
}

.top-infomation-beauty .right-infomation-beauty{
	float: right;
	max-width: 214px;
}
.bottom-infomation-beauty{
}
.bottom-infomation-beauty p{
	margin: 0;
	text-align: left;
}
.bottom-infomation-beauty p strong{
	color: #fd4b7a;
}
.bottom-infomation-beauty ol{
	margin: 0;
	padding: 0;
	list-style-type: decimal;
	list-style-position: inside;
	margin-top: 35px;

}
.bottom-infomation-beauty ol li{
	color: #ff245d;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	text-align: left;
}
.bottom-infomation-beauty .btn-xt{
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
	background: #26c648;
	line-height: 60px;
	padding: 0 25px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin-top: 25px;
	border-radius: 5px;
}
/*read-article-slide*/
.read-article-slide{
	border: 1px solid #e2e1e1;
	padding: 10px 10px 20px;
}
.read-article-slide .title-read-article{
	color: #fd4b7a;
	font-size: 19px;
	font-weight: 700;
	margin: 0;
}

.read-article-slide .bx-wrapper{
	margin: 0px;
	padding-bottom: 20px;
}
.read-article-slide .bx-wrapper .bx-viewport{
	box-shadow: none;
	border: none;
	left: 0;
	height: auto !important;
	position: absolute;
}

.read-article-slide .bx-wrapper .bx-viewport .article-slide{
	margin: 0px;
}
.read-article-slide .bx-wrapper .bx-viewport .article-slide .row-read-article-slide{
	margin: 15px 0;
	display: block;
	vertical-align: top;
}
.read-article-slide .bx-wrapper .bx-viewport .article-slide .img-read-article-slide{
	float: left;
	max-width: 127px;
}
.read-article-slide .bx-wrapper .bx-viewport .article-slide .main-read-article-slide{
	float: left;
	margin-left: 20px;
	max-width: 490px;
}
.read-article-slide .bx-wrapper .bx-viewport .article-slide .main-read-article-slide a{
	text-decoration: none;
	color: #f00c77;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 10px;
	display: block;
	vertical-align: top;
}
.read-article-slide .bx-wrapper .bx-viewport .article-slide .main-read-article-slide p{
	font-size: 15px;
	color: #777777;
	margin: 0;
	line-height: 20px;
}
.read-article-slide .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #ffadb0;
}

.read-article-slide .bx-wrapper .bx-pager.bx-default-pager a{
	background: #ffd0d2;
}

.read-article-slide .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: 0;
}


/*comment-article-slide*/
.comment-article-slide{
	background: #fd4b7a;
	padding: 15px 10px 30px;
	margin-top: 40px;
}
.comment-article-slide .title-comment-article-slide{
	font-size: 25px;
	color: #ffffff;
	text-align: center;
	padding: 0 76px;
	margin: 0;
	font-weight: normal;
	margin-bottom: 25px;
}
.comment-article-slide .bx-wrapper{
	margin: 0;
}
.comment-article-slide .bx-wrapper .bx-viewport{
	border: none;
	box-shadow: none;
	left: 0;
	background: none;
	padding-bottom: 30px;
}
.comment-article-slide .bx-wrapper .bx-viewport .comment-slide{
	margin: 0;
}
.comment-article-slide .bx-wrapper .bx-viewport .comment-slide .col-comment-article-slide{
	float: left;
	max-width: 310px;
	margin-left: 20px;
}
.comment-article-slide .bx-wrapper .bx-viewport .comment-slide .col-comment-article-slide:first-child{
	margin-left: 0;
}
.comment-article-slide .bx-wrapper .bx-viewport .comment-slide .col-comment-article-slide .img-col-comment-article-slide{
	float: left;
	max-width: 74px;
}
.comment-article-slide .bx-wrapper .bx-viewport .comment-slide .col-comment-article-slide .main-col-comment-article-slide{
	background: #fffefd;
	max-width: 230px;
	margin-left: 5px;
	border-radius: 5px;
	float: left;
	position: relative;
}
.comment-article-slide .bx-wrapper .bx-viewport .comment-slide .col-comment-article-slide .main-col-comment-article-slide .left-main-col-comment-icon{
	background: url(images/icon_left-comment-slide.png) no-repeat;
	width: 12px;
	height: 12px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	position: absolute;
	top: 7px;
	left: 7px;
}
.comment-article-slide .bx-wrapper .bx-viewport .comment-slide .col-comment-article-slide .main-col-comment-article-slide .main-col-comment-review{
	color: #ff245d;
	font-size: 17px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	line-height: 22px;
	padding: 12px 10px 12px 24px;
	margin: 0;
}
.comment-article-slide .bx-wrapper .bx-viewport .comment-slide .col-comment-article-slide .main-col-comment-article-slide .main-col-comment-review .right-main-col-comment-icon{
	background: url(images/icon_right-comment-slide.png) no-repeat;
	width: 12px;
	height: 12px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 5px;
}
.comment-article-slide .bx-wrapper .bx-viewport .comment-slide .col-comment-article-slide .main-col-comment-article-slide .main-col-comment-customer{
	color: #a5a5a5;
	font-size: 14px;
	text-align: right;
	margin: 0;
	display: block;
	vertical-align: top;
	padding: 0 30px 10px 0;
}

.comment-article-slide .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #febecf;
}

.comment-article-slide .bx-wrapper .bx-pager.bx-default-pager a{
	background: #fe9cb6;
}

.comment-article-slide .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom: 0;
}

/*experiences-customer*/
.experiences-customer{
	margin: 45px 0;
	text-align: center;
}
.experiences-customer p{
	color: #f00c77;
	font-size: 25px;
	padding: 0 50px;
}
.btn-feel,.btn-experiences{
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	text-align: center;
	background: #26c648;
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
	line-height: 50px;
	text-decoration: none;
	border-radius: 5px;
}
.btn-feel{
	margin-left: 50px;
	padding: 0 50px;
}
.btn-experiences{
	margin-right: 50px;
	margin-left: 100px;
	padding: 0 25px;
}
.btn-feel:hover,.btn-experiences:hover{
	color: #ccc;
}

/*categories-product*/
.categories-product{

}
.categories-product .title-categories-product{
	font-size: 25px;
	font-weight: 700;
	color: #f00c77;
	text-align: left;
	text-transform: uppercase;
	margin: 0;
	margin-left: 5px;
}
.row-categories-product{
	border-bottom: 1px solid #e4e3e3;
	margin-top: 20px;
}
.top-row-categories-product{
	background: #fd4b7a;
}
.border_bot{
	background: url(images/bottom_bor.png) repeat-x;
	height: 3px;
	margin-top: 2px;
}
.top-row-categories-product .name_list{
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
	padding-left: 10px;
	line-height: 38px;
	margin:0;
	text-align: left;
	float: left;
}
.top-row-categories-product .btn-view-all{
	text-align: right;
	color: #ffffff;
	font-size: 17px;
	font-weight: 600;
	line-height: 38px;
	padding-right: 10px;
	float: right;
	text-decoration: none;
}

.bottom-row-categories-product{
	padding: 20px 0;
}
.bottom-row-categories-product .info-categories-product{
	margin-bottom: 20px;
}
.bottom-row-categories-product .info-categories-product .img-info-categories-product{
	float: left;
	max-width: 220px;
}
.bottom-row-categories-product .info-categories-product .main-info-categories-product{
	float: left;
	max-width: 420px;
	margin-left: 20px;	
}
.main-info-categories-product .heading-main-info-categories{
	color: #f00c77;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	display: block;
	vertical-align: top;
}
.main-info-categories-product span{
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #a5a5a5;
	font-size: 14px;
	margin: 20px 0 10px;
}
.main-info-categories-product span.lx{
	margin-right: 30px;
}
.main-info-categories-product p{
	margin: 0;
	color: #777777;
	font-size: 17px;
}
.bottom-row-categories-product .bottom-related-categories-product .related-categories-product{
	float: left;
	margin-left: 20px;
	max-width: 325px;
}
.bottom-row-categories-product .bottom-related-categories-product .related-categories-product:first-child{
	margin-left: 0px;
}
.related-categories-product .img-related-categories-product{
	float: left;
	max-width: 110px;
}
.related-categories-product .main-related-categories-product{
	float: left;
	max-width: 200px;
	margin-left: 10px;
}
.related-categories-product .main-related-categories-product a{
	text-decoration: none;
	color: #f00c77;
	font-size: 17px;
	font-weight: 600;
}


/*customer-comment*/
.customer-comment{
	margin-top: 80px;
}
.row-customer-comment{
	margin-bottom: 30px;
	font-size: 17px;
}
.row-customer-comment .author{
	color: #26c648;
	font-style: italic;
}
.row-customer-comment p{
	color: #777777;
	line-height: 22px;
}

/*pagination*/
.pagination{
	text-align: center;
	margin-top: 25px;
}
.pagination ul.cd-pagination{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.cd-pagination li{
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin: 0 8px;
}
ul.cd-pagination .button a{
	position: relative;
	text-indent: -999px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	text-align: left;
	top: 5px;
}
ul.cd-pagination .button:first-of-type a{
	padding-left: 2.4em;

}
ul.cd-pagination .button:last-of-type a{
	padding-right: 2.4em;
}
ul.cd-pagination .button:first-of-type a::before,ul.cd-pagination .button:last-of-type a::after{
  content: '';
  position: absolute;
  display: inline-block;
  zoom: 1;
	*display: inline;
  width: 21px;
  height: 24px;
  top: 50%;
  margin-top: -8px;
  background: transparent url("images/cd-icon-arrow-1.png") no-repeat center center;

}
ul.cd-pagination .button:first-of-type a::before{
	left: .8em;	
}
ul.cd-pagination .button:last-of-type a::after{
	right: .8em;
	transform: rotate(180deg);
}
ul.cd-pagination .text a{
	color: #777777;
	font-size: 17px;
	font-weight: 600;
	border: 1px solid #a5a5a5;
	padding: 5px 10px;
	text-decoration: none;
	display: block;
	vertical-align: top;
}



/*knowledge-product*/
.knowledge-product{
	margin-top: 45px;
	border-top: 2px dashed #fc4a79;
}
.row-knowledge-product{
	margin-top: 45px;
}
.row-knowledge-product .img-row-knowledge-product{
	float: left;
	max-width: 220px;
}
.row-knowledge-product .main-row-knowledge-product{
	float: left;
	max-width: 410px;
	margin-left: 20px;
}
.row-knowledge-product .main-row-knowledge-product a{
	color: #f00c77;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	display: block;
	vertical-align: top;
}
.row-knowledge-product .main-row-knowledge-product p{
	color: #777777;
	font-size: 17px;
	margin: 0;
	line-height: 22px;
}

/*monologue*/
.monologue{
	border: 2px dashed #fc4a79;
	padding: 25px;
	color: #ff245d;
	font-size: 17px;
	text-align: center;
}
.monologue .p1{
	font-weight: 600;
}

.answer-top{
	margin-top: 30px;
}
.avartar-answer-top{
	float: left;
	max-width: 216px;
}
.main-answer-top{
	float: left;
	margin-left: 25px;
	max-width: 416px;
}
.row-main-answer{
	margin-bottom: 25px;
	font-size: 17px;
}
.row-main-answer span{
	color: #fd4b7a;
}
.row-main-answer p{
	color: #777777;
	margin: 0;
	margin-top: 15px;
}
.share-answer{
	margin: 30px 0;
}
.img-share-answer{
	float: left;
	max-width: 217px;
}
.main-share-answer{
	float: left;
	margin-left: 25px;
	max-width: 415px;
}
.main-share-answer p{
	color: #777777;
	font-size: 17px;
	margin: 0;
}
.p-answer{
	color: #fd4b7a;
	font-size: 17px;
}

/*ha shop*/
.intro-product-detail{
	background: #fd4b7a;
	border-radius: 20px;
	padding: 25px 60px;
	color: #FFF;
	font-size: 19px;
	text-align: center;
	position: relative;
	top: 0;
	left: 0;
}
.intro-product-detail p:last-child{
	font-weight: 600;
}
.intro-product-detail:after{
	border-color:  #fd4b7a transparent transparent;
    border-style: solid;
    border-width: 35px 30px 10px 30px;
    content: "";
    height: 0;
    position: absolute;
    left: 45%;
    top: 100%;
    width: 0;
}
.product-type-detail{
	border: 2px dashed #fd4b7a;
	padding: 18px 9px;
	margin-top: 90px;
}
.product-type-detail:last-child{
	margin-top: 50px;
}
.left-product-type-detail{
	float: left;
	max-width: 480px;
	border-right: 2px dashed #fd4b7a;
}
.left-product-type-detail .img-left-product-type-detail{
	float: left;
	max-width: 220px;
}
.left-product-type-detail .main-left-product-type-detail{
	float: left;
	margin-left: 15px;
	max-width: 200px;
	color: #fd4b7a;
	font-size: 17px;
	margin-right: 30px;
}
.left-product-type-detail .main-left-product-type-detail a{
	font-weight: 600;
	text-decoration: none;
	color: #fd4b7a;
}
.btn-product-type-detail{
	float: left;
}
.btn-product-type-detail a{
	background: #26c648;
	color: #ffffff;
	font-size: 25px;
	line-height: 60px;
	padding: 0 25px;
	text-decoration: none;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 40px;
	display: block;
	vertical-align: middle;
}


/*utility*/
.utility{
	margin: 50px 0;
}
.utility-top{
	margin-bottom: 30px;
}
.utility-top .img-utility-top{
	float: left;
	max-width: 372px;
}
.utility-top .main-utility-top{
	background: none repeat scroll 0 0 #26c648;
    float: left;
    left: 35px;
    max-width: 250px;
    position: relative;
    top: 0;
}
.utility-top .main-utility-top:after{
	border-color: transparent #26c648 transparent transparent;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    content: "";
    height: 0;
    position: absolute;
    right: 100%;
    top: 50px;
    width: 0;
}
.utility-top .main-utility-top ul{
	margin: 0;
	padding: 40px 20px 50px 25px;
	color: #FFF;
}
.utility-top .main-utility-top ul li{
	margin-bottom: 15px;
}
.utility-top .main-utility-top ul li a{
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	display: block;
	vertical-align: top;
	text-decoration: none;
}
.utility-bottom{

}
.utility-bottom .row-utility-bottom{
	margin-bottom: 20px;
}
.utility-bottom .row-utility-bottom .title-row-utility-bottom{
	color: #fd4b7a;
	font-size: 19px;
	font-weight: 600;
}
.utility-bottom .row-utility-bottom p{
	color: #777777;
	font-size: 17px;
}
.utility-bottom .row-utility-bottom ul{
	margin: 0;
	padding: 0;
	list-style-image: url(images/gach.png);
	list-style-position: inside;
}
.utility-bottom .row-utility-bottom ul li{
	margin-bottom: 20px;
	color: #777777;
	font-size: 17px;
}
.web-btn{
	text-decoration: none;
	display: block;
	vertical-align: top;
	text-align: right;
	color: #fd4b7a;
	font-size: 17px;
}

.facebook{
	margin-bottom: 50px;
}
.row-facebook{
	margin-bottom: 10px;
}
.row-facebook .col-left-facebook{
	float: left;
	max-width: 420px;
}
.row-facebook .col-left-facebook p{
	color: #fd4b7a;
	font-size: 17px;
	font-weight: 600;
	margin: 0;
}
.row-facebook .col-right-facebook{
	float: left;
	margin-left: 20px;
	max-width: 230px;
}
.pluginButton{
	background: #0069c2;
	border: none;
	border-radius: 2px;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
}
.pluginButton img{
	display: inline-block;
	vertical-align: top;
	padding: 4px 6px;
}
.pluginButton .pluginButtonLabel{
	display: inline-block;
	vertical-align: top;
	padding-right: 7px;
}
.pluginCountButton{
	background: none repeat scroll 0 0 white;
    border: 1px solid #9197a3;
    border-radius: 2px;
    color: #4e5665;
    display: inline-block;
    font-size: 11px;
    height: auto;
    line-height: 28px;
    margin-left: 3px;
    min-width: 30px;
    padding: 0 3px;
    text-align: center;
    white-space: nowrap;
}
.pluginCountButtonNub{
	height: 0;
    left: -9px;
    position: relative;
    top: -20px;
    width: 5px;
    z-index: 2;
}
.pluginCountButtonNub s, .pluginCountButtonNub i {
    border-color: transparent #9197a3;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    display: block;
    position: relative;
    top: 1px;
}
.pluginCountButtonNub i {
    border-right-color: #fff;
    left: 2px;
    top: -7px;
}

.noted{
	margin-bottom: 50px;
}
.noted p{
	color: #777777;
	font-size: 14px;
	font-style: italic;
}
.noted p a{
	color: #26c648;
	text-decoration: none;
}

.comment{
	margin-top: 40px;
}
.comment .comment-respond{
	margin-bottom: 45px;
	background: #fd4b7a;
	color: #FFF;
	padding: 10px 25px 5px 10px;
}
.comment .comment-respond:after{
	clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.comment-respond .comment-reply-title{
	font-size: 17px;
	margin: 0;
}
.commentfield{
	margin: 9px 0;
}
.commentfield-left{
	float: left;
	max-width: 50px;
}
.commentfield-right{
	float: left;
	max-width: 565px;
	margin-left: 10px;
}
.commentfield-right textarea{
	width: 545px;
	border: 1px solid #fe9fb8;
	color: #a5a5a5;
	font-size: 14px;
	padding-left: 15px;
	height: 50px;
	line-height: 50px;
}
.form-submit{
	text-align: right;
	margin: 0;
}
#submit{
	background: #26c648;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	padding: 0 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;

}
.comment-list{
	margin: 0;
	padding: 0;
}
.comment-list li{
	list-style: none;
	margin-left: 10px;
	margin-bottom: 20px;
	position: relative;
}
.comment-author{

}
.comment-author .img-comment-author{
	float: left;
	max-width: 50px;
}
.comment-author .main-comment-author{
	float: left;
	max-width: 570px;
	margin-left: 8px;
	background: #f7f7f7;
	padding: 10px;
	color: #777777;
	font-size: 14px;
}
.comment-author .main-comment-author .comment-meta-author{
}
.comment-author .main-comment-author .comment-meta-author .left-comment-meta-author{
	float: left;
}
.comment-author .main-comment-author .comment-meta-author .right-comment-meta-author{
	float: right;
}
.comment-author .main-comment-author .comment-meta-author .left-comment-meta-author p{
	margin: 0;
	text-align: left;
}
.comment-author .main-comment-author .comment-meta-author .left-comment-meta-author p a{
	color: #fd4b7a;
	text-decoration: none;
}
.comment-author .main-comment-author .comment-meta-author .right-comment-meta-author span{
	text-align: right;
	background: url(images/like-fac.png) no-repeat;
	width: 16px;
	height: 17px;
	display: inline-block;
	vertical-align: top;
}
.comment-content{
	margin-top: 10px;
}
.comment-content p{
	margin: 0;
}
.comment-list li ul{
	margin: 0;
	padding: 0;
}
.comment-list li ul li{
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 0;
}
.small-comment-author{
	max-width: 510px !important;
}
.xtbl{
	text-align: center;
}
.btn-xtbl{
	background: #26c648;
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
	line-height: 60px;
	padding: 0 30px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

.catalog{
	padding: 40px 0;
	border-top: 2px dashed #fc4a79;
	border-bottom: 2px dashed #fc4a79;
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 17px;
}
.catalog h4{
	color: #fd4b7a;
	margin: 0;
}
.catalog ul{
	margin: 0;
	margin-left: 20px;
	margin-top: 25px;
	padding: 0;
	list-style-type: upper-alpha;
	list-style-position: inside;
	color: #787878;
}
.catalog ul li{
	margin-top: 20px;
}
.catalog ul li:first-child{
	margin-top: 0;
}
.catalog ul li a{
	text-decoration: none;
	color: #787878;
}
.question-catalog{
	margin-bottom: 120px;
}
.row-question-catalog{
}
.row-question-catalog h3{
	color: #26c648;
	font-size: 19px;
}
.row-question-catalog a{
	text-decoration: none;
	color: #777777;
	font-size: 17px;
}
.row-question-catalog h6{
	color: #fd4b7a;
	font-size: 17px;
	margin: 10px 0;
}
.row-question-catalog p{
	color: #777777;
	font-size: 17px;
	line-height: 25px;
}
.catalog-coconut{
	padding: 40px 0;
	border-top: 2px dashed #fc4a79;
	border-bottom: 2px dashed #fc4a79;
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 17px;
}
.catalog-coconut ul{
	margin: 0;
	padding: 0;
	list-style-type:decimal;
	list-style-position: inside;
	color: #787878;
}
.catalog-coconut ul li{
	margin-top: 20px;
}
.catalog-coconut ul li:first-child{
	margin-top: 0;
}
.catalog-coconut ul li a{
	text-decoration: none;
	color: #787878;
}
.row-question-catalog-coconut{
	margin-bottom: 15px;
}
.row-question-catalog-coconut h3{
	color: #fd4b7a;
	font-size: 17px;
	margin: 0;
}
.row-question-catalog-coconut p{
	color: #777777;
	font-size: 17px;
}
.row-question-catalog-coconut p i{
	color: #26c648;
}
.row-question-catalog-coconut span{
	color: #26c648;
	font-size: 17px;
}
.row-question-catalog-coconut .img-question-catalog-coconut{
	text-align: center;
	margin: 130px 0 35px;
}
.row-question-catalog-coconut a{
	color: #26c648;
	font-size: 17px;
	text-decoration: none;
}
.row-question-catalog-coconut > img{
	margin-top: 20px;
}
/*Menu Footer*/
.menu-footer{
	margin: 10px 0px;
}

.menu-footer ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.menu-footer ul li{

}

.menu-footer ul li a{
	text-decoration: none;
	font-size: 17px;
	color: #fff;
	font-weight: 300;
}

.menu-footer ul li:hover a, .menu-footer ul li a:hover{
	opacity: 0.6;
}

/*cart-popup*/
.x-cart-popup{
	position: absolute;
	background: url(images/x_cart-popup.png) no-repeat;
	width: 41px;
	height: 41px;
	top: -20px;
	left: 96%;
	display: block;
	cursor: pointer;
}
.cart-popup{
	background: #ffffff;
	max-width: 730px;
	padding: 0 10px;
	border: 1px solid #ccc;
	margin: 20px;
	position: relative;
	/*position: fixed;
	top: 0;
	right: -100%;
	height: 100%;
	padding-top: 50px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	transition: right 0.3s;
	&.speed-in {
		right: 0;
	}*/
}
.cart-popup .title-cart-popup{
	color: #464646;
	font-size: 17px;
	font-weight: 700;
	
}
.cart-popup i{
	font-weight: normal;
}
.cart-popup-items{
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}
.cart-popup-items li{
	border-top: 1px solid #d4d3d3;
	border-bottom: 1px solid #d4d3d3;
	padding: 30px 0 30px 20px;
}
.cart-popup-items li:first-child{
	border-top: none;
	border-bottom: none;
	padding: 15px 0 15px 20px;
}
.cart-popup-items li > div{
	display: inline-block;
	vertical-align: top;
	font-size: 17px;
}
.cart-popup-items li .col-1-manage,.cart-popup-items li .col-3-manage{
	width: 32%;
}
.cart-popup-items li .col-2-manage,.cart-popup-items li .col-4-manage{
	width: 15%;
}
.cart-popup-items li .col-4-manage{
	text-align: right;
}
label.color-1{
	color: #fd4b7a;
	font-weight: 600;
}
label.color-2{
	color: #777777;
}
.order{
	margin: 17px 17px 30px;
}
.order p{
	float: left;
	text-align: left;
	color: #26c648;
	font-size: 19px;
}
.order a{
	float: right;
	text-align: right;
	background: #26c648;
	line-height: 50px;
	height: 50px;
	padding: 0 30px;
	text-decoration: none;
	border-radius: 5px;
	color: #ffffff;
	font-size: 25px;
	font-weight: 600;
}
.col-3-manage input#quantity{
	width: 90px;
	text-align: center;
	border: 1px solid #CCCCCC;
    display: inline;
    line-height: 1em !important;
    padding: 1px 0 2px;
    vertical-align: middle;
}
